#bigbox{
	height:20%;
	width:100%;
	background-color:pink;
}
#box1{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:150px;
	float:left;
	margin-left:5px;
}
#box2{
	height:300px;
	width:40px;
	background-color:red;
	float:left;
	margin-left:5px;
	top:210px;
	position:relative;
}
#box3{
	height:300px;
	width:40px;
	background-color:red;
	float:left;
	margin-left:5px;
	top:120px;
	position:relative;
}
#box4{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:170px;
	float:left;
	margin-left:5px;
}
#box5{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:240px;
	float:left;
	margin-left:5px;
}
#box6{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:250px;
	float:left;
	margin-left:5px;
}
#box7{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:300px;
	float:left;
	margin-left:5px;
}
#box8{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:290px;
	float:left;
	margin-left:5px;
}
#box9{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:270px;
	float:left;
	margin-left:5px;
}
#box10{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:100px;
	float:left;
	margin-left:5px;
}
#box11{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:130px;
	float:left;
	margin-left:5px;
}
#box12{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:120px;
	float:left;
	margin-left:5px;
}
#box13{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:200px;
	float:left;
	margin-left:5px;
}
#box14{
	height:300px;
	width:40px;
	background-color:red;
	position:relative;
	top:270px;
	float:left;
	margin-left:5px;
}