


.redbox1 {
	position: relative;
	width: 48px;
	height: 98px;
	background-color: red;
	float: left;
	border:1px solid #ffffff;
}

.redbox2 {
	position: relative;
	width: 98px;
	height: 48px;
	background-color: red;
	float: left;
	border:1px solid #ffffff;
}

.redbox3 {
	position: relative;
	width: 48px;
	height: 48px;
	background-color: red;
	float: left;
	border:1px solid #ffffff;
}

.bigcontainer1 {
	width: 50px;
	height: 200px;
	float: left;
	position:relative;
}


.huge{
	width: 200px;
	height: 200px;
	padding-top: 50px;
	padding-left: 50px;

}


#bigcontainer2 {
	float: left;
	width: 100px;
	height: 200px;
	position: relative;
}


.littlecontainer2 {
	width: 100px;
	height: 100px;
	position: relative;
	float:left;
}


