.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  width:100%;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  z-index:0;

}
.flex-intro{
  background: yellow;
  padding: 2%;
  color: white;
  font-size: 3em;
  text-align: center;
  z-index:0;
  width:100%;
}
.flex-item {
  float:right;
  background: tomato;
  padding: 2%;
  width: 50%;
  height: 100%;
  margin-top: 5%;
  
  color: white;
  font-size: 0.2em;
  line-height:1.1em;
  text-align: left;
  z-index:0;
}
#img_box{
  z-index:0;
  width:100%;
  background-color:lightblue;
  overflow:hidden;
}
.img_row{
  background: lightpink;
  width: 100%;
  z-index:0;
  position:absolute;
}
#circle{
   background: yellow;
  padding: 2%;
  color: white;
  font-size: 3em;
  text-align: center;
  z-index:200;
  width:100%;


}
#block{
  height:2000px;
  width:100%;
  background-color:lightyellow;
  float:left;
}
#hover{

}
#text{
  padding: 10%;
  color: white;
  text-align: left;
  z-index:100;
  position:absolute;
  background-color:black;
  opacity:0.7;
  overflow:hidden;
}
#textbox{
  z-index:100;
  width: 50%;
  height: 100%;
  float:right;
  overflow:hidden;
}
p{
  color: white;
  font-size: 0.2em;
  line-height:1.1em;
  text-align: left;
  z-index:100;
}
@media screen and (min-width:200px){
  img{
    width:100%;
  }
  .img_row{
    width:100%;
  }
  .flex-intro{
    width:100%;
  }
  .flex-container{
    width:100%;
  }

}
@media screen and (min-width:200px){
  p{
    font-size:20%;
  }
}
@media screen and (min-width:600px){
  p{
    font-size:40%;
  }
}
@media screen and (min-width:700px){
  p{
    font-size:60%;
  }
}
@media screen and (min-width:850px){
  p{
    font-size:70%;
  }
}
@media screen and (min-width:1100px){
  p{
    font-size:80%;
  }
}
@media screen and (min-width:1400px){
  p{
    font-size:90%;
  }
}
@media screen and (min-width:1500px){
  p{
    font-size:100%;
  }
}


@media (min-width:200px){
  html {font-size:80%;}

}

@media (min-width:400px){
  html {font-size:100%;}


}

@media (min-width:600px){
  html {font-size:150%;}


}

@media (min-width:1000px){
  html {font-size:200%;}

}

.circle-container {
    top:10%;
    position: fixed;
    width: 8em;
    height: 8em;
    padding: 1em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border-radius: 50%;
    right:5%;
    z-index:200;
}
.circle-container div {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 8em; height: 8em;
    margin: -2em;
    z-index:200;
}
.circle-container img { display: block; width: 25%; }
.deg0 { transform: translate(8em); } /* 12em = half the width of the wrapper */
.deg90 { transform: rotate(90deg) translate(8em) rotate(-90deg); }
.deg1125 { transform: rotate(112.5deg) translate(8em) rotate(-112.5deg); }
.deg135 { transform: rotate(135deg) translate(8em) rotate(-135deg); }
.deg1575 { transform: rotate(157.5deg) translate(8em) rotate(-157.5deg); }
.deg180 { transform: translate(-8em); }
.deg270 { transform: rotate(270deg) translate(8em) rotate(-270deg); }
.deg2925 { transform: rotate(292.5deg) translate(8em) rotate(-292.5deg); }
.deg315 { transform: rotate(315deg) translate(8em) rotate(-315deg); }
.deg3375 { transform: rotate(337.5deg) translate(8em) rotate(-337.5deg); }




