.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  width:100%;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  z-index:0;

}
.intro{
  background: lightblue;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom:50%;
  color: white;
  font-size: 3em;
  text-align: center;
  z-index:0;
  width:100%;
}
.intro-1{
  background: tomato;
  padding: 2%;
  width: 50%;
  height: 100%;
  margin-top: 5%;
  
  color: white;
  font-size: 0.2em;
  line-height:1.1em;
  text-align: left;
  z-index:0;
}
#z{
  width:100%;
  height:2000px;
  background-color:yellow;
}
#z1{
  position:relative;
  width:100%;
  height:500px;
  background-color:lightgreen;
}
.img_contain{
  width:100%;
  height:100%;
  position:absolute;
  z-index:100;
  background-color:white;
/*change to tomato when needed^*/
}

#fixed{
  right:0;
  top:20%;
  background-color:black;
  color:white;
  font-size:10px;
  position:fixed;
  z-index:1;
  height:100px;
  width:100px;
}
img{
  width:100%;
}
#spacer{
  width:100%;
  height:10%;
  background-color:tomato;
  position:relative;
}
.spacer{
  width:100%;
  height:50px;
  background-color:white;
  position:absolute;
  z-index:100;
}
#text{
  padding: 10%;
  color: white;
  text-align: left;
  z-index:100;
  position:absolute;
  background-color:black;
  opacity:0.7;
  overflow:hidden;
}
#textbox{
  z-index:100;
  width: 50%;
  height: 100%;
  float:right;
  overflow:hidden;
}
@media screen and (min-width:200px){
  p{
    font-size:20%;
  }
}
@media screen and (min-width:600px){
  p{
    font-size:40%;
  }
}
@media screen and (min-width:700px){
  p{
    font-size:60%;
  }
}
@media screen and (min-width:850px){
  p{
    font-size:70%;
  }
}
@media screen and (min-width:1100px){
  p{
    font-size:80%;
  }
}
@media screen and (min-width:1400px){
  p{
    font-size:90%;
  }
}
@media screen and (min-width:1500px){
  p{
    font-size:100%;
  }
}


@media (min-width:200px){
  html {font-size:80%;}
  html {height:80%;}

}

@media (min-width:400px){
  html {font-size:100%;}
  html {height:100%;}

}

@media (min-width:600px){
  html {font-size:150%;}
  html {height:150%;}

}

@media (min-width:1000px){
  html {font-size:200%;}
  html {height:200%;}
}
