/*Animation Prefs*/
@-webkit-keyframes pulse {
      0% {background-color: #45CEEF;}
     25% {background-color: #FFF5A5;}
     50% {background-color: #FFD4DA;}
     75% {background-color: #99D2E4;}
     100% {background-color: #D8CAB4;}
}

/*Body Styles*/
body {
    -webkit-animation: pulse 17s infinite alternate;
    background-color: #45CEEF;

}

body{
  height:1500px;
}


.logo{
  position: relative;
  float:left;
  margin-top: 400px;
}

.col{
	float:left;
	position: relative;
	margin-left:500px;
	width:300px;
	height:100%;
	font-size: 15px;
	font-style: Georgia;
}

#col2{
	float:left;

}