/*Animation Prefs*/
@-webkit-keyframes pulse {
      0% {background-color: #45CEEF;}
     25% {background-color: #FFF5A5;}
     50% {background-color: #FFD4DA;}
     75% {background-color: #99D2E4;}
     100% {background-color: #D8CAB4;}
}

/*Body Styles*/
body {
    -webkit-animation: pulse 17s infinite alternate;
    background-color: #45CEEF;

}

body{
  height:4000px;
}


.logo{
  position: relative;
  float:left;
  margin-top: 400px;
}

/*#logo:hover {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    transition: 2s;

}

#logo:hover{
	color:yellow;
}
*/

#one{
float:left;
position:relative;
z-index: 1;
margin-left: 500px;
margin-top:100px;

}


#a{
  width:200px;
  height:100px;
  margin-left: 400px;
}

#b{
  text-align: right;
   width:200px;
  height:100px;
  margin-left: 200px;
}

#c{
  text-align: right;
   width:200px;
  height:100px;
  margin-left: 300px;
  margin-top:140px;
  float:left;
}



#two{
position: relative;
float:left;
z-index: 0;
margin-left: 300px;
margin-top:289px;

}

#three{
float:left;
position:relative;
z-index: 2;
margin-left: 240px;
margin-top:100px;

}

#one img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
#one img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
    transition:2s;
    /* For IE8 and earlier */
}
#two img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
#two img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
    transition:2s;
    /* For IE8 and earlier */
}

#three img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
#three img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
    transition:2s;
    /* For IE8 and earlier */
}





