*{
font-family: 'Open Sans', sans-serif;
}
body{
background-image: url(..//img/background-bubble.jpg) ;
background-repeat: repeat;
z-index: -1;
width:100%;

}

     .logo-everything{
	  width:100%;
	  z-index:1;
	  position:fixed;
	  top:-5%;
     }


    .logo {
       width:41%; 
      margin:auto;
      position:relative;
      font-size:100%;
      z-index:1;

       }

 	#bubble img {
	   width: 100%;
	   margin:auto;
	   margin-top:3%;
	   display:block;
	   z-index:1;
	   }

	#logo-text{
	   position:absolute;
	   z-index:1;
	   width: 100%;
	   margin:auto;
	   top:25%;
	   left:3%;
	   text-align:center;
	   font-size:6vmax;
	   }

#logo-text{
 font-weight:800;
 /*Original still gradient color*/
 /*background: -webkit-linear-gradient(#252525,#DADADB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/

/* Clip Background Image */
 background: url(..//img/logo_background2.png)  repeat-x;
 -webkit-background-clip: text;
 /* Animate Background Image */
 -webkit-text-fill-color: transparent;
 -webkit-animation: aitf 8s linear infinite;
 /* Activate hardware acceleration for smoother animations */
 -webkit-transform: translate3d(0,0,0);
 -webkit-backface-visibility: hidden;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {background-position: 0% 50%;}
  100% {background-position: 100% 50%;}
}


#yellowtag{
	position:fixed;
	width:20%;
	height:10%;
	background-color:#FFE000;
	color:#252525;
	z-index:2;
	font-family: 'Open Sans', sans-serif;
    font-weight:400;
    text-align:center;
    top:12%;
	left:20%;
}
 #yellowtag-text{
	    position:absolute;
	    width: 100%;
	    max-height:100%;
	    margin:auto;
	    text-align:center;
	    font-size:3vmin;
	    }


#logo{
	position:fixed;
}

.description{
	color:#9C9B97;
	z-index:0;
	position:relative;
	display:block;
	margin:auto;
	padding-top:13%;
	padding-left:30%;
	padding-right:30%;
	width:40%;
	height:50%;
}

#main-text{
	background-color:#FFFFCF; 
	color:black;
	z-index:0;
	position:relative;
	font-size: 1vmax;
	display:block;
	margin:auto;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:30%;
	padding-right:30%;
	width:40%;
	height:14%;
}

#blank-two{
    	top:250%;
    	height:100%;
}

.blank{
	opacity:0;
	position:absolute;
	top:10px;
	width: 100%; 
	height:50%;
}

#all-description{
		width:100%;
		top:40%;
		position:absolute;
}

.speaker{
	    width:100%;
    	height:180%;
    	background-color:black;
    	z-index:3;
    	position:absolute;
    	top:250%;
}

.speaker-headshot{
	display:inline-block;
	width:33%;

	background-color: black;
	opacity: 1;
	z-index: 3;
}

 .speaker-float h2 {
		 font-size:5vmin;
  }
       .speaker-float p {
		 font-size:2.5vmin;
  }

     .speaker-float{
		display:inline-block;
		width:24%;
		height:45%;
		margin-top:2%;
		margin-left:2.1%;
		background-color:#212121;
		z-index: 3;
		padding:3%;
		color:#D0D1D0;
	    }
/*.nametag{
z-index:4;
position:absolute;    
color:white;
font-size:3vmax;
font-weight:bold;
text-align:center;
top:10%;
}
.nametag:hover{
	z-index:1;
}
#speaker1-head h1{
left:9%;
}
#speaker2-head h1{
left:42%;
}
#speaker3-head h1{
left:75%;
}*/
  .speaker-headshot img{
	    	max-width:100%;
	    	min-width:100%;
	    	opacity:0.7;
	    }

   .speaker-headshot img:hover{
			opacity:0.0;
         }
#speaker1-head:hover{
background-image: url(..//img/sam.jpg);
background-size:contain;
background-repeat: no-repeat;
}

#speaker2-head:hover{
background-image: url(..//img/alex.jpg);
background-repeat: no-repeat;
background-size:contain;
}

#speaker3-head:hover{
background-image: url(..//img/emma.jpg);
background-size:contain;
background-repeat: no-repeat;
}

.speaker-float{
	display:inline-block;
	width:24%;
	height:45%;
	margin-top:2%;
	margin-left:2.1%;
	background-color:#212121;
	z-index: 3;
	padding:3%;
	color:#D0D1D0;
}

.topopout{
	position:relative;
	width: 45%;
	height:10%;
	left:70%;
	top:90%;
	background-color:#FFE000;
	color:#212121;
	z-index:3;
    text-align:center;
    font-size:2vmin;
    font-weight:bold;
    cursor:pointer;
    border:none;
    padding-top:-1%;
}


#background-popout {
    z-index:5;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;

}

.popout {
    background: none repeat scroll 0 0 #000000;
    padding: 15px 35px;
    color: #FFFFFF;
    display: none;
    font-size: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    width: 100%;
    max-width: 800px;
    max-height: 380px;
    z-index: 5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-box-shadow: 0 0 0 2px #FFEE00;
    box-shadow: 0 0 0 2px #FFEE00;
}

.popout_content img{
	float:left;
	max-width:25%;
    max-height:25%;
}
#emma-head{
	max-width:25%;
    max-height:25%;
}
.video{
	float:left;
	position:relative;
	left:10%;

}
.brands{
	float:left;
}
.ease{
  transition: all 2s ease-in-out;
}
.brands:hover{
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  -o-transform: translate(300px, 0);
  transform: translate(300px, 0);
}

#emma-brand{
position:absolute;
top:80%
}
#sam-brand{
position:absolute;
top:75%
}

#emma-brand:hover{
  -webkit-transform: translate(200px, 0);
  -moz-transform: translate(200px, 0);
  -o-transform: translate(200px, 0);
  transform: translate(200px, 0);
}

#sam-brand img{
	max-width:60%;
    max-height:60%;
}


#alex-brand img{
	max-width:65%;
    max-height:65%;

}
#emma-brand img{
	max-width:75%;
    max-height:75%;

}

/* Desktops and laptops ----------- */
@media screen and (min-width:1280px){

	.logo-everything{
		width:100%;
	}

	.logo {
       width: 41%; 
      font-size:100%;
       }
   
	#bubble img {
	   width: 100%;
	   margin-top:3%;
	   }

	#logo-text{
	   width: 100%;
	   top:25%;
	   left:3%;
	   font-size:6vmax;
	   }

	    #yellowtag{
		width:20%;
		height:9%;
		top:12%;
	    left:16%;
	    padding:0.5%;
	    }

	    #yellowtag-text{
	    max-width: 100%;
	    max-height:100%;
	   
	    }

		.blank{
		width: 100%; 
		height:50%;
		opacity:0;
        }

    	#blank-two{
    	top:200%;
    	height:50%;
		}
       .speaker{
    	width:100%;
    	height:170%;;
    	top:220%;
		}

		#all-description{
		width:100%;
		top:43%;
	    }

		.description{
		padding-top:13%;
		padding-left:30%;
		padding-right:30%;
		width:40%;
		height:50%;
		font-size:1.5vmax;
	
		}

		#main-text{
		padding-top:1%;
		padding-bottom:1%;
		padding-left:30%;
		padding-right:30%;
		width:40%;
		height:14%;
	    font-size:1.2vmax;
	    }

	    .speaker-headshot{
	    	width:33%;

	    }
	     .speaker-headshot img{
	    	max-width:100%;
	    	min-width:100%;
	    }

	    .speaker-float h2 {
		 font-size:4vmin;
        }
       .speaker-float p {
		 font-size:2.5vmin;
        }

	   .speaker-float{
		width:24%;
		height:40%;
		margin-top:2%;
		margin-left:2.1%;
		padding:3%;
	    }

	    .topopout{
	    width: 50%;
	    height:8%;
	    font-size:3vmin;

	    }

}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
	    #yellowtag{
		width:20%;
		height:10%;
		top:12%;
	    left:17%;
	    }

	    #yellowtag-text{
	    max-width: 100%;
	    max-height:100%;
	    font-size:3vmin;
	    }


 		.speaker{
    	width:100%;
    	height:150%;;
    	top:220%;
		}

        .speaker-float{
		width:28%;
		height:42%;
		margin-top:1%;
		margin-left:1.5%;
		padding:1%;
	    }

	    #speaker2{
	    	margin-left:3%;
	    }
   		#speaker3{
	    	margin-left:2%;
	    }


	    .speaker-float h2 {
		 font-size:5vmin;
		 padding-top:0;
        }

	    .topopout{
	    width: 45%;
	    height:8%;
	    font-size:3vmin;
		left:55%;
	    }

		.popout {

		    width: 100%;
		    max-width: 1200px;
		    max-height: 720px;
		}

		.popout_content img{
			float:left;
			max-width:30%;
		    max-height:30%;
		}

		.popout_content h2{
			font-size:3vmax;
		}

		.video video{
			width:650px;
		}
	.brands:hover{
		  -webkit-transform: translate(600px, 0);
		  -moz-transform: translate(600px, 0);
		  -o-transform: translate(600px, 0);
		  transform: translate(600px, 0);
		}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 450px) {
/* Styles */

	#logo-text{
	   width: 100%;
	   top:26%;
	   left:3%;
	   font-size:6.5vmin;
	   }
	#blank-one{
		width: 100%; 
		height:20%;
        }

    #all-description{
		width:100%;
		top:30%;
	    }

	.description{
		padding-top:0%;
		padding-left:30%;
		padding-right:30%;
		width:40%;
		height:40%;
		font-size:2vmax;
		}

	#main-text{
		padding-top:1%;
		padding-bottom:1%;
		padding-left:30%;
		padding-right:30%;
		width:40%;
		height:20%;
	    font-size:1.8vmax;
	    }
     .logo-everything{
	     top:0%;
	     }

	  #yellowtag{
		width:23%;
		height:6.5%;
		top:3%;
	    left:15%;
	    padding:0.1%;
	    }

	  #yellowtag-text{
	    max-width: 100%;
	    max-height:100%;
	    font-size: 2.3vmin;
	   
	    }

	    #blank-two{
    	top:100%;
    	height:0%;
		}
       .speaker{
    	width:100%;
    	height:85%;
    	top:185%;
		}

		 .speaker-headshot{
	    	width:32%;

	    }
	     .speaker-headshot img{
	    	max-width:100%;
	    	min-width:100%;
	    }

	    .speaker-float h2 {
		 font-size:2vmin;
        }
       .speaker-float p {
		 font-size:2vmin;
        }

	   .speaker-float{
		width:25%;
		height:60%;
		margin-top:2%;
		margin-left:2.1%;
		padding:2%;
	    }

	    .topopout{
	    width: 65%;
	    height:4%;
	    left:10%;
	    font-size:2vmin;
	}
		.popout {

		    width: 100%;
		    max-width: 300px;
		    max-height: 200px;
		}

		.popout_content img{
			float:left;
			max-width:30%;
		    max-height:30%;
		}

		.popout_content h2{
			font-size:3vmin;
		}

		.video video{
			width:200px;
		}
		.brands:hover{
		  -webkit-transform: translate(100px, 0);
		  -moz-transform: translate(100px, 0);
		  -o-transform: translate(100px, 0);
		  transform: translate(100px, 0);
		}


		#emma-brand:hover{
		  -webkit-transform: translate(80px, 0);
		  -moz-transform: translate(80px, 0);
		  -o-transform: translate(80px, 0);
		  transform: translate(80px, 0);
		}

}

