.tbox{
  width: 700px;
  height:700px;
 background-color: gray;
  background: rgba(216, 220, 229, 0.7);
position:relative;
  z-index:2;
  margin-top: 40px;
 margin-bottom: 30px;
  border-radius: 100%;
  float:right;
 
}
.scroll{
 
width:700px;
height:200px;
display:flex;
flex-wrap:wrap;
  z-index:3;
  float:right;
margin-bottom: 100px;

background:none;
  overflow:scroll;

}



.img-container{
  height:100px;
  width:100px;
   margin-left: 300px;
   margin-top: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
   
}



.img-container img {
    vertical-align: middle;

}

.img-container3{
  height:150px;
  width:150px;
   margin-left: 300px;
   margin-top: 50px;
    top: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
   
}



.img-container3 img {
    vertical-align: middle;

}

.img-container2{
  position:relative;
  height:100px;
  width:100px;
  z-index:5;
  top: 20px;
 left:20px;
  border-radius: 100%;
  float:left;
   
}


.img-container2 img{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.img-container2 img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); 
    transition:4s;
    /* For IE8 and earlier */
}

.img-container4 img{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.img-container4 img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); 
    transition:4s;
    /* For IE8 and earlier */
}

.img-container5 img{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.img-container5 img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); 
    transition:4s;
    /* For IE8 and earlier */
}

.img-container4{
  position:relative;
  height:150px;
  width:150px;
  z-index:2;
  bottom:0;
  left:80%;
  border-radius: 100%;
 clear:both;
   
}

.img-container5{
  position:relative;
  height:100px;
  width:100px;
  z-index:5;
margin-top: -140px;
  left:70%;
  border-radius: 100%;

 
   

 
   
}
h2{
  margin:40px 30px 0px 30px;
  font-family:Cabin Sketch;
  font-size:60px;
  text-align:center;
}
p{
  padding: 0px 25px 0px 35px;
  text-indent:40px;
}


#bg {
  position: fixed; 
  top: -40%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
 -webkit-background-size: cover;
  -moz-background-size: cover;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
