/*For Desktop*/

/* header color*/

@media screen and (max-width:1641px){

@-webkit-keyframes pulse {
      0% {color: #FF9221;}
    
     50% {color: #FF9F3A;}
   
     100% {color: #B27A40;}
}

.flex-item1 p{
    -webkit-animation: pulse 4s infinite alternate;
    color: #45CEEF;

}
.flex-item2 p{
    -webkit-animation: pulse 4s infinite alternate;
    color: #45CEEF;
}
.scroll-bg .sec{
    -webkit-animation: pulse 4s infinite alternate;
    color: #45CEEF;
}


/*main speakers*/

body, html, main { 
  height: 100%;
}


.scroll-bg{
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center center;
  background-image:url(../img/share.svg);
  

}

.title{
  display:flex;
  flex-wrap:wrap;
  max-width:500px;
  margin-left:150px;
float:left;

}

.sec {
  margin-top: 100px;
line-height: 100px;
  color:black;
  font-size:16em;
  float:left;
  font-family:Londrina Outline;
  max-width: 16em;
  min-width:4em;
}

.about{
margin-top: 250px;
float:left;
width: 400px;
height:300px;
position:center center;
overflow:scroll;
}

.active{
  background-color: red;
}

h1{
  font-family:Cabin Sketch;
}

.about p{
  text-indent:15px;
  text-align:left;
  font-family: Codystar;
  font-size: 1em;
  color:black;
  line-height: 25px;
}

.fixed-bg{
  background-image:url(../img/circles.svg);
  padding-bottom: 20px;
}


.fixed-bg{
  min-height: 100%;
}




.flex-container {
  float:left;
display:flex;
flex-wrap:wrap;
margin-top: 20px;

}


.flex-item1{
  float:left;
margin-left: 440px;
margin-right: 185px;
width:300px;
height:300px;

}


.flex-item1 p{
  position:relative;
  background: none;
  margin-top: 120px;
  padding-left: 50px;
  float:left;
  font-family: Londrina Outline;
  font-weight: bold;
  letter-spacing: 30px;
  color: black;
  font-size: 40px;
  
}

.flex-item2{
float:left;

}

.flex-item2 p{

  position:relative;
  background: none;
  margin-top: 120px;
  padding-left: 40px;
  font-family: Londrina Outline;
  font-weight: bold;
  letter-spacing: 15px;
  color: black;
  font-size: 40px;
  text-align: center;
}



.container{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
clear:both;

margin-bottom: 50px;
}




.circle{

width:300px;
height:300px;
border: 10px solid black;
border-radius: 100%;
position:inherit;
float:left;
background-color: black;
margin-left:30px;
margin-top: 5px;
}

p{
  position:relative;
  font-family: Londrina Outline;
  font-size: 64px;
  text-align:center;
  margin-top: 110px;
  color:white;
}

}