a{cursor: pointer;}
body{
	width:100%;
	height:auto;
	background-color: #FFFFCC;
}
body h1{
	font-family: Garamond;
	font-size: 34px;
	color:#FF6666;
}
ul{list-style-type: none;}
li{list-style-type: none;}
#wrap{
	width:800px;
	height:auto;
	margin-right: auto;
	margin-left: auto;
	list-style-type: none;

}
.one{
	font-family: Garamond;
	font-size:24px;
	font-weight: bold;
	color:grey;
}

.one a{
	font-family: Helvetica;
	font-size:18px;
	color:black;
	text-decoration: none;
}
.menu{
	font-family:Garamond;
	font-weight: bold; 
	font-size: 24px;
	margin-bottom:20px;
}
@media screen and (max-width: 1300px) { 
    body {
      background-color: #FFCC99;      
    }
}
@media screen and (max-width: 1000px) { 
    body {
      background-color: orange;      
    }
}
@media screen and (max-width: 800px) { 
    body {
      background-color: lime;      
    }
}
@media screen and (max-width: 800px) { 
    body {
      background-color: yellow;      
    }
}