.brod{
	width: 100%;
	max-width:100%;
	background-size: cover;
	background-position: fixed;
	height:auto;
	float:right;

	z-index: -1;
}

.brod2{
  background-position: fixed;

  width: 100%;
  max-width:100%;
  height:auto;
  float:right;

  z-index: 0;
}

.brod3{
   background-position: fixed;

  width: 100%;
  max-width:100%;
  height:auto;
  float:right;

  z-index: 0;
}



.logo1{
	position: fixed;
	top:600px; left:20px;overflow:auto;
	width:30%;
	float:left;
	padding:10px;
	height:auto;
	z-index:0;

    -webkit-animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -ms-animation: rotation 8s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}


.logo2{
	position: fixed;
	top:75px; left:1100px;overflow:auto;
	float:left;
	padding:10px;
	width:80px;
	height:auto;
	z-index:0;

    -webkit-animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -ms-animation: rotation 8s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}


.logo3{
	position: fixed;
	top:180px; left:30px;overflow:auto;
	float:left;
	padding:10px;
	width:120px;
	height:auto;
	z-index:0;

    -webkit-animation: rotation 6s linear infinite;
    -moz-animation: rotation 6s linear infinite;
    -ms-animation: rotation 6s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}




ul#menu{
  position:fixed;
  top:16px;
  left:50px;
  width:25%;
  height:0em;
  margin:0;
  padding:0 10px;
  background:#000000;
  color:black;
  box-shadow:0 -1px rgba(0,0,0,0) inset;
  font-family: Suranna, serif;
  font-size: 30px;
  letter-spacing: 1.5px;
}

ul#menu > li{
  float:left;
  list-style-type:none;
  position:relative;
}

label{
  position:relative;
  display:block;
  padding:0 18px 0 0px;
  line-height:3em;
  transition:background 0.3s;
  cursor:pointer;
  color:black;
}

label:after{
  content:"";
  position:absolute;
  display:block;
  color:black;
  top:50%;
  right:5px;
  width:0;
  height:0;
  border-top:4px solid ;
  border-bottom:0 solid ;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  transition:border-bottom .1s, border-top .1s .1s;
  }



/* @media Rule */
@media all and (max-width: 3000px) {

section, aside {
    float: none;
    width: auto;
  }

}


/*hide the inputs*/
input{display:none}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
  max-height:500px;
  transition:max-height 0.5s ease-in;

}

.submenu{

  font-family: Open sans, sans-serif;
  font-size: 14px;
  color:black;
  line-height: 17px;
  text-align: left;

}

ul.submenu{

text-align: left;
  max-height:0;
  overflow:hidden;
  list-style-type:none;
  background:white;opacity: 0.9;
  box-shadow:0 0 1px rgba(0,0,0,.3);
  transition:max-height 0.5s ease-out;
  position:absolute;
  min-width:95%;
  z-index: 2;

 
}

ul.submenu li a{
  height:300px;
  opacity: 0.5;
  display:block;
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
  transition:background .3s;
  white-space:nowrap;

}



ul.submenu li a:hover{
	color:black;
  height:500;

}

.text4{

	@media screen and (max-width: 1200px);
            position:fixed;
            text-decoration: none;
       		  left:60%;
       	  	top:5%;
       	  	float:right;
            letter-spacing: 3px;
            width:80%;
			      font-size: 15px;
			      font-family:"Suranna";
		   	    color:#000000;
		

		}

    .text7{

  @media screen and (max-width: 1200px);
            position:fixed;
            text-decoration: none;
            left:65.5%;
            top:5%;
            float:right;
            letter-spacing: 1.5px;
            width:80%;
            font-size: 15px;
            font-family:"Suranna";
            color:black;
    }


		.text5{

	@media screen and (max-width: 1200px);
            position:fixed;
            text-decoration: none;
        		left:76.5%;
        		top:5%;
        		float:right;
            letter-spacing: 1.5px;
            width:80%;
		      	font-size: 15px;
	       		font-family:"Suranna";
		      	color:#000000;
		}


		.text6{

	@media screen and (max-width: 1200px);
            position:fixed;
            text-decoration: none;
        		left:86%;
        		top:5%;
         		float:right;
            letter-spacing: 1.5px;
            width:80%;
	       		font-size: 15px;
		      	font-family:"Suranna";
		      	color:#000000;
		}
a.text3:hover {
color:gray;
}
a.text4:hover {
color:gray;
}
a.text5:hover {
color:gray;
}

a.text6:hover {
color:gray;
}

/* @import Rule */
@import url(p2.css) all and (max-width: 3000px) {...}
