.brod{


    width: 100%;
  background-size: cover;
  background-position: fixed;
  height:auto;
  float:left;
  z-index: -1;
  overflow: none;
  padding-top: 50px;
}

.brod2{
  background-position: fixed;

  width: 100%;
  max-width:100%;
  height:auto;
  float:right;
            padding-top: 10px;
            padding-bottom: 10px;

  z-index: 0;
}

.brod3{
   background-position: fixed;

  width: 100%;
  max-width:100%;
  height:auto;
  float:right;
            padding-top: 10px;
            padding-bottom: 10px;
  z-index: 0;
}



.logo1{
	position: fixed;
	top:600px; left:20px;overflow:auto;
	width:30%;
	float:left;
	padding:10px;
	height:auto;
	z-index:0;
  cursor: pointer;

    -webkit-animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -ms-animation: rotation 8s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}


.logo2{
	position: fixed;
	top:75px; left:1100px;overflow:auto;
	float:left;
	padding:10px;
	width:80px;
	height:auto;
	z-index:0;
  cursor: pointer;

    -webkit-animation: rotation 8s linear infinite;
    -moz-animation: rotation 8s linear infinite;
    -ms-animation: rotation 8s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}


.logo3{
	position: fixed;
	top:180px; left:30px;overflow:auto;
	float:left;
	padding:10px;
	width:120px;
	height:auto;
	z-index:0;
  cursor: pointer;

    -webkit-animation: rotation 6s linear infinite;
    -moz-animation: rotation 6s linear infinite;
    -ms-animation: rotation 6s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}

.highlight{
  background:yellow;
}


ul#menu{
  position:fixed;
  top:-12px;
  left:50px;
  width:25%;
  height:0em;
  margin:0;
  padding:0 10px;
 
  box-shadow:0 -1px rgba(0,0,0,0) inset;
  font-family: Suranna, serif;
  font-size: 30px;
  letter-spacing: 1.5px;
}

ul#menu > li{
  float:left;
  list-style-type:none;
  position:relative;
}

label{
  position:relative;
  display:block;
  padding:0 18px 0 0px;
  line-height:3em;
  transition:background 0.3s;
  cursor:pointer;

}

label:after{
  content:"";
  position:absolute;
  display:block;

  top:50%;
  right:5px;
  width:0;
  height:0;
  border-top:4px solid ;
  border-bottom:0 solid ;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  transition:border-bottom .1s, border-top .1s .1s;
  }



/*hide the inputs*/
input{display:none}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
  max-height:500px;
  transition:max-height 0.5s ease-in;

}

.submenu{

font-family: "Suranna" sans-serif;
  font-size: 14px;
  color:black;
  line-height: 16px;
  text-align: left;
  position: absolute;


}

ul.submenu{

  text-align: left;
  max-height:0;
  overflow:hidden;
  list-style-type:none;
  background:white;opacity: 0.9;
  box-shadow:0 0 1px rgba(0,0,0,.3);
  transition:max-height 0.5s ease-out;
  position:absolute;
  max-width:82%;
  z-index: 2;
  padding-left: 10px;
  padding-right: 10px;
    height:450px;


 
}

ul.submenu li a{
  height:200px;
  opacity: 0.5;
  display:block;
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
  transition:background .3s;
  white-space:nowrap;

}



ul.submenu li a:hover{
	color:black;
  height:200;

}

.text4{

            position:fixed;
            text-decoration: none;
            left:63%;
            top:2%;
            float:right;
            letter-spacing: 2px;
            width:80%;
            font-size: 15px;
            font-family:"Suranna";
            color:#000000;

    }


    .text7{
            position:fixed;
            text-decoration: none;
            left:68%;
            top:2%;
            float:right;
            letter-spacing: 1.5px;
            width:80%;
            font-size: 15px;
            font-family:"Suranna";
            color:black;
    }


		.text5{

            position:fixed;
            text-decoration: none;
        		left:78.5%;
        		top:2%;
        		float:right;
            letter-spacing: 1.5px;
            width:80%;
		      	font-size: 15px;
	       		font-family:"Suranna";
		      	color:#000000;
		}


		.text6{

            position:fixed;
            text-decoration: none;
        		left:88%;
        		top:2%;
         		float:right;
            letter-spacing: 1.5px;
            width:80%;
	       		font-size: 15px;
		      	font-family:"Suranna";
		      	color:#000000;

		}
a.text7:hover {
color:#A8A8A8;
}
a.text4:hover {
color:#A8A8A8;
}
a.text5:hover {
color:#A8A8A8;
}

a.text6:hover {
color:gray;
}


@media screen and (max-width: 400px){

.brod{

  padding-top: 110px;
}

    .rich1{
             position:absolute;
             top:9%;
              width: 96%;
             padding-right: 3px;


    }

    .rich3{
             position:absolute;
             top:57%;
            width: 96%;
             padding-right: 3px;


    }

    .rich2{
             position:absolute;
             top:130%;
             width: 96%;
             padding-right: 3px;


    }

    .rich4{
             position:absolute;
             top:203%;
              width: 96%;
             padding-right: 3px;

    }

  .rich6{
             position:absolute;
             top:270%;
              width: 96%;
             padding-right: 3px;

    }

    .text4{
             font-size: 70%;
             left:5%;
             top:1.5%;
             position:absolute;
            
    }

    .text7{
             font-size: 70%;
             left:17%;
             top:1.5%;
              position:absolute;

    }

    .text5{
             font-size: 70%;
             left:46%;
             top:1.5%;
              position:absolute;

    }

    .text6{
             font-size: 70%;
             left:70%;
              top:1.5%;
               position:absolute;

    }

    

    #check01{

            font-size: 50%;

    }

    ul#menu{
            left:1.5%;
            top:30px;
            width:100%;    

    }

    section, aside {
            float: none;
            width: auto;
  }


.logo2{
  position: fixed;
  top:75px; left:300px;
  width:70px;
}

.logo3{
  position: fixed;
  top:250px; left:23px;
  width:70px;

}

