@import url(http://fonts.googleapis.com/css?family=Nunito);

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
}

.arrow{
  color:aqua;
  size:300%;
  border-radius: 5%
  padding-bottom: 10px;
  margin-left: 40%;
  margin-right: 40%;
  padding:5px;
}


h1 {
   font-family: Arial;
   font-size: 200%;
   text-align: auto;
   color:black;
   background:white; 
   letter-spacing: 20px;
   margin-left: 30%;
  margin-right: 30%;
  padding-top:20px;
  padding-bottom:20px;



}



h2{
  font-family: Helvetica;
  text-align: center;

}

.describe {
  width: 50%;
  margin-left: 50%;
}

#hover-content {
    display:none;
}
 
#hover-me:hover #hover-content {
    display:block;
    text-align: center;
}

#transition-hover-content {
    opacity:0;   
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}
 
#transition-hover:hover #transition-hover-content {
    opacity:1;
    
}






p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
	transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) ;
  padding: 30px;
  border-radius: 5px;
  background: white;
  
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) ;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.name{

  width: 20%;
  padding: 5px;
  margin-left:8%;
  border-radius: 5px;
  background: white;
  float:left;

  
}

//just added//--
.des .title{
  width: 20%;
  padding-left: 5px;
  margin-left:40%;
  border-radius: 5px;
  background: white;
}

.title {

  width: 20%;
  padding-left: 5px;
  margin-left:8%;
  border-radius: 5px;
  background: white;
  float:left;

  
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  
}

#title {

  background-image: url("image/whitebg.png");
   background-attachment: fixed;  
}

#slide1:before {
  background-image: url("image/blackbg.png");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url("image/whitebg.png");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("image/blackbg.png");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
   background-image: url("image/whitebg.png");
  
}

#slide5:before {
  background-image: url("image/blackbg.png");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide5 {
   background-image: url("image/blackbg.png");
  
}