#container{
	width : 640px;
	
}

#header{
	width: 620px;
	height: 100px;
	margin: 5px;
	background-color: red;
	float: left;

}

#secondheader {
	background-color: red;
	width: 620px;
	height: 30px;
	margin: 5px;
	float: left;
}

#body1 {
	background-color: red;
	width: 200px;
	height: 700px;
	margin: 5px;
	float: left;
}

#body2 {
	background-color: red;
	width: 200px;
	height: 700px;
	margin: 5px;
	float: left;
}

#body3 {
	background-color: red;
	width: 200px;
	height: 700px;
	margin: 5px;
	float: left;
}

#footer {
	background-color: red;
	width: 620px;
	height: 200px;
	margin: 5px;
	float: left;
}