.container{
  height:1080px;
  width:960px;
}
.top{
  height:190px;
  width:960px;
}
.top1{
  height:100px;
  width:940px;
  margin:10px;
  background-color:red;
}
.top2{
  height:50px;
  width:940px;
  margin:10px;
  background-color:red;
}
.mid{
  width:960px;
  height:770px;
}
.left{
  height:900px;
  width:300px;
  background-color:red;
  margin:10px;
  float:left;
}
.bottom{
  clear:both;
  height:100px;
  width:940px;
  margin:10px;
  background-color:red;
}