.col {
	color: #623e2e;
	font-family: Raleway;
	margin: 2%;
	width: 20%;
	font-size: 18px;
	float: left;
}
.title {
	background-color: #d0f1f1;
}
.exercises {
	background-color: #f88978
}
.projects {
	background-color: #e3fdaa;
}
a {
	text-decoration: none;
	color: #623e2e
}
a:hover {
	font-style: italic;
}
@media screen { 
		.title{
			float: none;
			margin:0;
			width: 30%;
		}
	}
	@media screen { 
		.exercises{
			float: none;
			margin:0;
			width: 30%;
		}
	}
@media screen { 
		.col{
			float: none;
			margin:0;
			width: 30%;
		}
	}