

#box1 {
height: 200px;
width: 30px;
position: relative;
top: 100px;
float: left;
background-color: red;
margin: 5px;
}

#box2 {
height: 200px;
width: 30px;
background-color: red;
float: left;
top: 160px;
position: relative;
margin: 5px;
}

#box3 {
height: 200px;
width: 30px;
background-color: red;
float: left;
margin: 5px;
top: 120px;
position: relative;
}


#box4 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 170px;
float: left;
margin: 5px;

}


#box5 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 220px;
float: left;
margin: 5px;
}


#box6 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 230px;
float: left;
margin: 5px;
}


#box7 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 300px;
float: left;
margin: 5px;
}

#box9 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 250px;
float: left;
margin: 5px;
}

#box8 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 280px;
float: left;
margin: 5px;
}

#box10 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 120px;
float: left;
margin: 5px;
}

#box11 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 120px;
float: left;
margin: 5px;
}

#box12 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 140px;
float: left;
margin: 5px;}

#box13 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 200px;
float: left;
margin: 5px;}

#box14 {
height: 200px;
width: 30px;
background-color: red;
position: relative;
top: 270px;
float: left;
margin: 5px;}



















