#container{
	background-color: white;
	width:1000px;
	height:1500px;
}

.box1{
	background-color: red;
	position:fixed;
	top:0px;
	left:0px;
	width: 1000px;
	height:100px;
}


.text1{
	position:fixed;
	z-index: 2;
	margin-top:130px;
	margin-left:150px;
	width:200px;
    height:350px;
    overflow:scroll;
    overflow-y:hidden;
   

  
}


.box2{
	background-color: red;
	position:fixed;
	top:130px;
	left:0px;
	width: 200px;
	height:350px;
	float:left;
}


.box3{
	background-color: red;
	position:fixed;
	top:160px;
	left:600px;
	width: 300px;
	height:700px;
	float:left;
}

.text2{
	position:fixed;
	z-index: -1;
	margin-top:130px;
	margin-left:400px;
	width:300px;
    height:600px;
    overflow:scroll;








