.head{
    /*background-color:pink;*/
		color:#38d6d2;
		font-family:Helvetica;
		margin:2%;
		width: 46%;
}
.left{
	float:left;
	font-family:Helvetica;
	color:#34b7b3;
	text-decoration:none;
  /*background-color: #e95b33;*/
}

.right{
	float:left;
	font-family:Helvetica;
	color:#34b7b3;
  /*background-color: #40b7d7;*/
}
.three{
	background-color:black;
	color:white;
	width:20%;
	margin:5%;
}
	@media screen and (max-width: 600px) { 
		.col{
			float: none;
			margin:0;
			width: 100%;
		}
	}
