@media (min-width: 1000px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }
  .reduce{
	margin-top: -20%;
}

.navbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: 0;
	background: rgba(0, 0, 0, 0.3);
	border: 0px;
	color:white;
	font-family: 'Helvetica', sans-serif;
}	

.navbar-fix
{
	position: fixed; 
	width:100%;
	z-index: 2;
}

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.intro{
	text-align: right;
}
.port{
	padding-bottom: 5%;
	margin-top: 0%;
}
h1{
	font-size: 7.8em;
	/*font-family: 'Droid Serif', serif;*/
	padding-top: 25%;
	padding-bottom: 5%
}
h2{
	margin-top: -7%;
	font-size: 6.5em;
	margin-bottom: 7%;
	/*line-height: 0.4em;*/
}
h3{
	font-size: 2.8em;
	padding-top: 2%;
}
h6{

	font-size: 8em;
	
	padding-top: 25%;
	

}
h4{
	font-size: 6.5em;
	font-weight: 400;
	padding-top: 30%;
	padding-bottom: 7%;
}
h5{
	font-size: 2em;
	font-weight: 300;
	
}
.namepic{
	font-weight: 300;
	font-size: 4em;
}

}

@media (max-width: 1000px){
	.navbar-default{
		background: rgba(0, 0, 3, 1);
		border: 0px;
		font-family: 'Helvetica', sans-serif;
	}
	.navbar{
		background: rgba(0, 0, 3, 1);
		border: 0px;
	}
	.reduce{
	margin-top: -20%;
}

.intro{
	text-align: right;
}
h1{
	font-size: 5.8em;
	/*font-family: 'Droid Serif', serif;*/
	padding-top: 25%;
	padding-bottom: 5%
}
h2{
	margin-top: -7%;
	font-size: 4.5em;
	margin-bottom: 7%;
	/*line-height: 0.4em;*/
}
h3{
	font-size: 2.3em;
	padding-top: 2%;
}
h6{

	font-size: 4.5em;
	
	padding-top: 40%;
}
h4{
	font-size: 4.5em;
	padding-top: 30%;
	padding-bottom: 7%;
}
h5{
	font-size: 2em;
	font-weight: 300;
	
}
.namepic{
	font-weight: 300;
	padding-bottom: 5%;
	font-size: 3em;
}
	
}

@media (min-width: 300px) {
	.navbar-fix
	{
		position: fixed; 
		width:100%;
		z-index: 2;
		font-family: 'Helvetica', 'Open Sans', sans-serif;
	}
	
}



body {
	background-color:transparent; 
	color: white;
	padding-bottom: 5%;
}

.homepic{
	padding-bottom: 15%;
}


.reduce{
	margin-top: -30%;
}



.pic{
	padding-top: 1%;
	padding-bottom: 2%;
	margin-left: 3%;
}
.name{
	font-size: 3.5em;
	
	padding-top: 10%;
	padding-bottom: 4%;
}
img{
	
	border-style: solid;
    border-width: 5px;
}
.port{
	margin-top:5%;
}
a:hover{
	color: #fee17c;
	text-decoration: none;
}
a{
	text-decoration: none;
	color: white;
}
.bottom{
	height: 50px;
	width: 100%;
	
}