body{
	background-color:black;
	font-family:Helvetica;
  width:1400px;
  height:1400px;
  position:absolute;
}

#main-container{
	width:1400px;
	height:1400px;
	position:relative;
	background-color: white;
  border: 10px solid black;
  border-bottom: 20px solid black;

}


	


#logo-container{
	width:100%;
	height:19%;
	position:relative;
	background-color:white;
  margin:0%;
}

.logo img{
	width:150px;
	height:80px;
	position:relative;
	top:50px;
	left:55px;
}

a{
	text-decoration: none;
	color:black;
}

a:active{
	color:gray;
}

h1{
	color:white;
}


ul {
  font-family: Helvetica;
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  position:absolute;
  top:30px;
  left:1090px;

  
}
ul li {
  font: bold 16px/14px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: white;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li a:hover {
  background: white;
  color: gray;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: white; 
  display: block; 
  color: black;
 
}
ul li ul li:hover { background: white }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


.menu-body{
	width:91%;
	height:50%;
	background-color:white;
	position:relative;
  margin:auto; 
  top-margin:0%;
	
}


.box1    {  
  width:390px;
  height:450px;
  position:absolute;
  top:10px;
  left:45px;

}

.overlay1{
  background:rgba(142,221,225,.90);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:390px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box1:hover .overlay1 {
  opacity: 1;
}


.title1       {  
  font-family: Helvetica;
  color: white;
  font-size: 25px;
  position:relative;
  top:170px;
  left:0px;
}

.editorial img{
	position:absolute;
	top:0px;
	left:520px;
}


.box2    {  
  width:285px;
  height:450px;
  position:absolute;
  top:20px;
  left:565px;

}

.overlay2{
	background:rgba(0,0,0,.80);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:390px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box2:hover .overlay2 {
  opacity: 1;
}


.title2       {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:170px;
  left:0px;
}


.posters img{
	position:absolute;
	top:0px;
	left:930px;
}


.box3    {  
  width:270px;
  height:450px;
  position:absolute;
  top:20px;
  left:970px;

}

.overlay3{
	background:rgba(243,227,101,.80);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:390px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box3:hover .overlay3 {
  opacity: 1;
}


.title3       {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:170px;
  left:0px;
}


.fashion img{
	position:relative;
	top:40px;
	left:0px;
}


.box4    {  
  width:670px;
  height:450px;
  position:absolute;
  top:535px;
  left:45px;

}

.overlay4{
	background:rgba(243,227,101,.80);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:395px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box4:hover .overlay4 {
  opacity: 1;
}


.title4       {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:170px;
  left:0px;
}

.bio img{
    position:absolute;
	top:520px;
	left:795px;
}


.box5    {  
  width:390px;
  height:450px;
  position:absolute;
  top:535px;
  left:845px;

}

.overlay5{
	background:rgba(0,0,0,.80);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:395px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box5:hover .overlay5 {
  opacity: 1;
}


.title5      {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:170px;
  left:0px;
}


.missoni img{
  position:absolute;
	top:0px;
	left:-70px;
}


.box6    {  
  width:530px;
  height:450px;
  position:absolute;
  top:20px;
  left:-25px;

}

.overlay6{
	background:rgba(0,0,0,.70);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:385px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box6:hover .overlay6 {
  opacity: 1;
}


.title6      {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:170px;
  left:0px;
}

.calvin img{
    position:absolute;
	top:0px;
	left:690px;
}


.box7    {  
  width:480px;
  height:450px;
  position:absolute;
  top:20px;
  left:760px;

}

.overlay7{
	background:rgba(28,99,173,.70);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:385px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box7:hover .overlay7 {
  opacity: 1;
}


.title7      {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:170px;
  left:0px;
}



.stella img{
    position:absolute;
	top:540px;
	left:0px;
}


.box8    {  
  width:530px;
  height:450px;
  position:absolute;
  top:555px;
  left:45px;

}

.overlay8{
	background:rgba(28,99,173,.70);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:385px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box8:hover .overlay8 {
  opacity: 1;
}


.title8      {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:170px;
  left:0px;
}


.balenciaga img{
	width:600px;
	height:474px;
    position:absolute;
	top:540px;
	left:670px;
}


.box9    {  
  width:515px;
  height:450px;
  position:absolute;
  top:560px;
  left:715px;

}

.overlay9{
	background:rgba(0,0,0,.70);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:385px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box9:hover .overlay9 {
  opacity: 1;
}


.title9      {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:170px;
  left:0px;
}


.wrapper{
  width:1200px;
  height:650px;
  background-color:#d6d8dd;
  position:relative;
  padding:30px;
  padding-bottom:45px;
  margin:auto;
 
}

.scrolls { 
  overflow-x: scroll;
  overflow-y: hidden;
  height: 640px;
  white-space:nowrap
 } 

.imageDiv img .text-box1 { 
  box-shadow: 10px 10px 10px #999; 
  margin: 5px;
  max-height: 700px;
  cursor: pointer;
  display:inline-block;
  display:inline;
  zoom:1;
  vertical-align:top;
}

.scrolls img{
  margin:25px;
  position:relative;

}

.missoni{
  position:relative;
  top:0px;
  left:70px;
}




.bjork img{
  width:600px;
  height:600px;
    position:absolute;
  top:0px;
  left:0px;
}


.box10    {  
  width:520px;
  height:450px;
  position:absolute;
  top:15px;
  left:40px;

}

.overlay10{
  background:rgba(0,0,0,.70);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:520px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box10:hover .overlay10 {
  opacity: 1;
}


.title10      {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:220px;
  left:0px;
}


.benjamin img{
  width:600px;
  height:600px;
    position:absolute;
  top:2px;
  left:670px;
}


.box11    {  
  width:520px;
  height:450px;
  position:absolute;
  top:15px;
  left:710px;

}

.overlay11{
  background:rgba(142,221,225,.80);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:520px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box11:hover .overlay11 {
  opacity: 1;
}


.title11      {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:230px;
  left:0px;
}


.benjamin img{
  width:600px;
  height:600px;
    position:absolute;
  top:2px;
  left:670px;
}


.box11    {  
  width:520px;
  height:450px;
  position:absolute;
  top:15px;
  left:710px;

}

.overlay11{
  background:rgba(142,221,225,.80);
  text-align:center;
  color:white;
  padding: 0px 0 0px 0;
  opacity:0;
  height:520px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


.box11:hover .overlay11 {
  opacity: 1;
}


.title11      {  
  font-family: Helvetica;
  color: white;
  font-size: 20px;
  position:relative;
  top:230px;
  left:0px;
}


.bio-box{
  width:1280px;
  height:650px;
  background-color:#d6d8dd;
  position:relative;
  top:0px;
  left:60px;
  padding:0px;
  
}

.biography{
  position:relative;
  top:0px;
  left:60px;
}

.bio-box img{
  position:absolute;
  top:25px;
  left:25px;
}

#b{
  width:500px;
  height:400px;
  position:absolute;
  top:5px;
  left:680px;
  text-align:justify;
}

#contact-bar{
  width:1400px;
  height:80px;
  background-color:white;
  position:absolute;
  margin-top:2%;
  top:1270px;
  left:0px;
}

  .mail {
  width:400px;
  height:50px;
  text-align:center;
  position:absolute;
  top:0px;
  left:370px;
}

.phone{
  width:400px;
  height:50px;
  text-align:center;
  position:absolute;
  top:0px;
  left:520px;
}

.media{
  width:400px;
  height:50px;
  text-align: center;
  position:absolute;
  top:0px;
  left:620px;
}

#line{
  width:2px;
  height:10px;
  background-color: black;
  position:absolute;
  top:25px;
  left:655px;

}
#line1{
  width:2px;
  height:10px;
  background-color: black;
  position:absolute;
  top:25px;
  left:780px;
}



