body {
	background-color: #d8d8d8;
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	background-image: url("auditorium.jpg")
}
#container {
	display: flex; 
	align-items: flex-start;
	flex-wrap: wrap;
}
.shape {
	width: 16.5%;
}
.y {
	margin-left: 16.5%
}
/*#title {
	float: left;
	width: 16.5%;
	margin-left: 16%;
	margin-top: -10%;
	font-family: Roboto;
	font-size: 36px;

}
#text {
	float:left;
	margin-left: 16.5%;
	width: 16.5%;
	height: 100%;
	background-color: #ef673f;
	font-family: Roboto;
	font-size: 18px;
}
p {
	font-size: 18px;
	margin: 10px
}*/
#menu {
	float: right;
	margin-left: 16%;
	width: 16.5%;
	background-size: 100%;
	background-image: url("menu.png");
	background-repeat: no-repeat;
	font-family: Raleway;
	font-size: 24px
}
a {
	text-decoration: none;
	color: #fcee21
}
ul {
	list-style-type: none;
}
#main {
	color: white;
}