.container{
  margin:50px;
  height:1000px;
  width:5000px;
  position:fixed;
}
.box{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  margin:1px;
}
.box2{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  top:20px;
  margin:1px;
}
.box3{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  top:50px;
  margin:1px;
}
.box3{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  top:-20px;
  margin:1px;
}
.box5{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  top:10px;
  margin:1px;
}
.box6{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  top:60px;
  margin:1px;
}
.box7{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  top:40px;
  margin:1px;
}
.box8{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  top:-10px;
  margin:1px;
}
.box9{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  top:50px;
  margin:1px;
}
.box10{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  top:20px;
  margin:1px;

  .box11{
  width:20px;
  height:200px;
  background-color:red;
  float:left;
  position: relative;
  top:-10px;
  margin:1px;
}