body {
  background-color: black;
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#header{
background-color: rgba(0,0,0,0.2);
width: 100%;
height: 50px;
z-index: 200;
position: fixed;
text-align: center;
top:0px;
padding-top: 10px
}


a{
color: white;
font-family: Avenir;
font-size: 15px;
text-decoration:none;
padding-right: 5%; 
padding-left: 5%;
}

.redborder{
  width: 100%;
  height: 20px;
  top: 0px;
  background-color: #e94e4e;
}

.yellowborder{
  width: 100%;
  height: 20px;
  margin-top: 0px;
  top:0px;
  background-color: #fef5e1;
}


.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: relative;
  width: 100%;
}
.container .regular {
  width: 100%;
  height: 100vh;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
 
}

.container .longer{
  width: 100%;
  height: 120vh;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
 
}




.container section:nth-child(1) .image {
  background-image: url(file:///Users/HannaOh/Documents/Web%20Design/finalwork/hanna/projects/project%203/img/intro_image3.gif);
}
.container section:nth-child(2) .image {
  background-color: #fef5e1;
}
.container section:nth-child(3) .image {
  background-color:#2ebfc8;
}
.container section:nth-child(4) .image {
    background-color:#e94e4e;
}
.container section:nth-child(5) .image {
  background-color:#2ebfc8;
}
.container section:nth-child(6) .image {
  background-color: #474747;
}
.container section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}

h1{
  color: white;
  font-size: 350%;
    font-size: 11.0vmin;
  line-height: 100px;
    line-height: 12.0vmin;
  font-family: Avenir;
  text-align: center;
  margin-top: 30vmin;
}

#design{
 color: white;
  font-size: 170%;
  font-size: 20.0vmin;
    line-height: 18.0vmin;
  font-family: Avenir;
}

#tp{
  color: white;
  font-size: 30%;
  font-size: 5.0vmin;
  font-family: Avenir;
  font-weight: 200;
margin-top: -7vmin;
      text-align: center;
}

#dp{
  color: white;
  font-size: 20%;
  font-size: 3.3vmin;
  font-family: Avenir;
  font-weight: 400;
  margin-top: 100px;
    text-align: center;

}

#arrow{
  margin-top: 25px;
}

#arrow .scroll{
  position:relative;
  bottom: 30px;
  left:0px;
  visibility:hidden;
  font-size: 18px;
  font-family: Avenir;
  padding-top: 15px;
}

#arrow:hover .scroll{
  visibility:visible;
}

h2{
  color: #e94e4e;
}

.container section .stuff1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 80%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 10;
  color: gray;
  margin: 0 auto;
  font-size: 20px;
  position: relative;
}

.container section .stuff2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 75%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  z-index: 10;
  color: white;
  margin: 0 auto;
  font-size: 17px;
  position: relative;
}

.q{
  width: 45px;
  height: 30px;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
}

.q2{
  width: 50px;
  height: 35px;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
}

.blue{
color: white;
text-align: center;
}

.people{
  font-family: Avenir;
  font-size: 20px;
  font-weight: bold;
  color: rgba(250,250,250,0.9);
}

.container section .stuff {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 70%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 10;
  color: gray;
  margin: 0 auto;
  font-size: 18px;
  position: relative;
}

.container section .cohost {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  width: 100%;
  max-width: 80%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  color: gray;
  margin: 0 auto;
  font-size: 18px;
  position: relative;
}

.white{
  color:white;
  text-align: center;
  padding-right: 30%;
  padding-left: 30%;
  padding-top: 10%;
}


.coimage{
  width:250px;
  height:280px;
  border: 7px solid #e94e4e;

}


.item{
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow:hidden;
  margin: -30px;
}

.overlay {
  position: absolute;
  top: 100%; 
  left:0; 
  right:0px;
  bottom: 0;
  height: 87%;
  width: 64.5%;
  background: rgba(254,245,225,.8);
  opacity: 0;
  margin-left: 40px;
  margin-top: 18px;

}

h5{
  color:#e94e4e;
}

.container section .last {
  z-index: 10;
  position:relative;
  margin: auto;

}




.email{
  background-color:#e94e4e;
  position: relative;
  float:left;
  width: 93vmin;
  height: 42vmin;  
  text-align: center;
}

#info{
  font-family: Avenir;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 20%
}

.ticket{
  position: relative;
  float:left;
  background-color: #fef5e1;
  width:31vmin;
  height:41vmin;

}

.ticon{
  height: 5vmin;
  width: 10vmin;
  margin-top:50%;
}

.risd{
  position: relative;
  float:left;
  background-color: #c4c3c3;
  width:31vmin;
  height:41vmin;
  margin:auto;
}

.ricon{
  height: 10vmin;
  width: 10vmin;
  margin-top:45%;
}

.facebook{
  position: relative;
  float:left;
  background-color: #2ebfc8;
  width:31vmin;
  height:41vmin;
  margin:auto;
}

.ficon{
  height: 10vmin;
  width: 5vmin;
  margin-top:45%;
}

.map{
  position: relative;
  float:left;
  height: 83vmin;
  width: 94vmin;
}


.overlay, .overlay span {
  transition: top .5s, opacity .7s, margin-top .8s;
}

.overlay span {
  display: inline-block;
  height: 10%;
  width: 90%;
  color: #e94e4e;
  text-decoration: none;
  line-height: 1;
  word-wrap:break-word;
  line-height: 1;
  opacity: 0;
  font-family: Avenir, sans-serif;
  font-size: 16px;
  font-weight: 600px;

}

.overlay span:before {
  content: "";
  display:inline-block;
  vertical-align: middle;
  height: 100%;
  width: 1px;
}
.item:hover .overlay,
.overlay:focus {
  top: 0;
  opacity: 1;
}

.item:hover .overlay span,
.overlay:focus span {
  opacity: 1;
  margin-top: 0; 
}


.container section .stuff h2 {
  margin: 0px;
}
.container section .stuff:before, .container section .stuff:after {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #d35400;
  content: "";
  margin: 30px 0;
}

.container section .stuff2:before, .container section .stuff2:after {
  width: 100%;
  height: 1px;
  display: block;
  background-color: white;
  content: "";
  margin: 13px 0;
}

